{
  "env": {
    "jest": true
  },
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "optionalDependencies": false,
      "peerDependencies": false
    }],
    "no-unused-expressions": "off"
  }
}
