# See https://help.github.com/ignore-files/ for more about ignoring files

# Dependencies
node_modules

# Compiled output
dist/*
!dist/universal-router*

# Test coverage
coverage
.nyc_output

# Logs
npm-debug.log*

# Misc
.DS_Store
