# See https://help.github.com/ignore-files/ for more about ignoring files

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Compiled output
dist/*
!dist/universal-router*

# Test coverage
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editors and IDEs
.idea/
.vscode/

# Misc
.DS_Store
