/* ==========================================================================
   Footer styles
   ========================================================================== */

.footer {
  width: 100%;
  height: 50px;
  margin-top: -66px;
  text-align: right;
  line-height: 50px;
}
