/* ==========================================================================
   Header styles
   ========================================================================== */

.header {
  padding: 16px 0;
  border-top: 6px solid #3B3738;
  background: #05a5d1;
  color: #fdf3e7;
  box-shadow:0 5px 8px rgba(0, 0, 0, .14);
}

.header--full {
  padding: 64px 0;
}

.header-title {
  margin: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 1em;
}

.header--full .header-title {
  font-size: 64px;
  text-align: center;
}

.header-desc {
  margin: 15px 0 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}
