/* ==========================================================================
   Layout styles
   ========================================================================== */

body {
  background-color: #f5fcff;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 0 auto;
  width: var(--max-content-width);
}

.header {
  padding: 1.5rem 0;
  background: var(--header-bg-color);
  color: var(--header-color);
}

.logo {
  color: var(--logo-color);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  font-weight: 700;
  font-style: italic;
  font-size: 2.5rem;
  font-family: 'Lato', sans-serif;
}

.logo-img {
  margin-right: 10px;
  width: 164px;
  height: 64px;
  vertical-align: middle;
}

.author {
  float: right;
  padding: 18px 0;
  font-size: 18px;
  color: rgba(255, 255, 255, .6);
}
.author a {
  color: rgba(255, 255, 255, .8);
  text-decoration: none;
}
.author a:hover {
  color: rgba(255, 255, 255, 1);
}


.hero {
  padding: 50px 0 30px;
}

.hero-title {
  margin: 0;
  padding: 0 0 15px;
  font-weight: 400;
  font-size: 2rem;
  line-height: 1em;
}

.hero-desc {
  margin: 0;
  padding: 0 0 30px;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.5rem;
}

.hero-img {
  margin: -20px -20px 0 0;
  float: right;
  width: 256px;
  height: 256px;
}

.hero-btn {
  display: inline-block;
  margin: 1rem 1rem 0 0;
  padding: .8rem 2rem .875rem 2rem;
  border-radius: 3px;
  background: rgba(249, 220, 62, .9);
  color: var(--header-bg-color);
  text-decoration: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.hero-btn:hover {
  background: rgba(249, 220, 62, 1);
}

.hero-btn--muted {
  background: rgba(255, 255, 255, .5);
}

.hero-btn--muted:hover {
  background: rgba(255, 255, 255, .6);
}

.hero-btn-icon {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin: -4px 10px -4px 0;
  fill: var(--header-bg-color);
}

.version {
  background: color(var(--header-bg-color) alpha(-90%));
  padding: 15px 0;
  font-size: 16px;
  color: var(--main-color);
}

.version a {
  color: var(--link-color);
  text-decoration: none;
}

.version a:hover,
.version a:active {
  color: color(var(--link-color) blackness(10%));
}

.content {
  display: table;
  margin: 0 auto;
  width: var(--max-content-width);
}

.content-left,
.content-right {
  display: table-cell;
}

.content-left {
  width: 200px;
}

.content-right {
  padding-left: 20px;
}

.stats {
  list-style: none;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: color(var(--header-color) alpha(-30%));
}

.stats-item {
  display: inline-block;
  padding: 0 10px 0 0;
  margin: 0;
}

.stats-item span {
  padding-right: 3px;
}
