/* ==========================================================================
   Theme styles
   ========================================================================== */

body {
  background-color: #f5fcff;
}

body, html, .wrapper{
  height: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wrapper{
  height: auto;
  min-height: 100%;
}

.container {
  width: var(--max-content-width);
  margin: 0 auto;
}

.content{
  width: var(--content-width);
  float: right;
}

.wrapper > .container{
  padding-bottom: 60px;
}

.wrapper > .container:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.container { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%;}
.container {display: block;}
/* End hide from IE-mac */

/* Edit on GitHub */
.github {
  float: right;
  position: relative;
  top: 5px;
}
