/* ==========================================================================
   Variables
   ========================================================================== */

:root {
  /* Layout */
  --max-content-width: 800px;

  /* Colors */
  --main-color: #222;
  --main-bg-color: #fff;
  --link-color: #337ab7;
  --logo-color: rgb(249, 220, 62);
  --header-color: #fff;
  --header-bg-color: #323330;
  --footer-color: #fff;
  --footer-bg-color: black;
}
