<div class="footer">
  <div class="container clearfix">
    <p class="footer__left">Licensed under the <a href="https://github.com/kriasoft/universal-router/blob/master/LICENSE.txt">MIT license</a></p>
    <p class="footer__right">&copy; 2015-<script>document.write(new Date().getFullYear())</script> <a href="https://www.kriasoft.com">Kriasoft</a></p>
  </div>
</div>
