<div class="hero">
  <img class="hero__img" src="img/developer.png" alt="React Routing" />
  <h1 class="hero__title">Routing and navigation solution<br> for JavaScript applications</h1>
  <%- include('github-info'); %>
  <a class="hero__btn" href="getting-started">Get Started</a>
  <a class="hero__btn hero__btn--muted" href="https://github.com/kriasoft/universal-router">
    <img class="hero__btn-icon" src="img/github-icon.svg" alt="GitHub" />
    View on GitHub
  </a>
</div>
